@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    IT La fabrica Colombia<br />
    <br />
    <abbr title="Phone">P:</abbr>
    3015630523
</address>

<address>
    <strong>Support:</strong> <a href="gmail.com">juanvem2504@gmail.com</a><br />
    
</address>
